@import url('https://fonts.googleapis.com/css?family=Montserrat|Muli|Noto+Sans|Poppins');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

$muli: 'Muli', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;
$notoSans: 'Noto Sans', sans-serif;